

<%= content_for :styles do %>

	<%= stylesheet_link_tag 'login', media: 'all', 'data-turbolinks-track': 'reload' %>

<% end %>

<%= content_for :banner do %>

  <!-- ================ start banner area ================= -->	
	<section class="blog-banner-area" id="category">
		<div class="container h-100">
			<div class="blog-banner">
				<div class="text-center">
					<h1>Login / Register</h1>
					<nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Login/Register</li>
            </ol>
          </nav>
				</div>
			</div>
    </div>
	</section>
	<!-- ================ end banner area ================= -->

<% end %>




  <!--================Login Box Area =================-->
	<section class="login_box_area section-margin">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<div class="hover">
							<h4>Nuevo en nuestra página?</h4>
							<p>YourMobile te ayuda a comunicarte y compartir con las personas que forman parte de tu vida, únete.</p>
							<a class="button button-account" href="register.html">Registrate</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Inicia Sesión</h3>

                        <%= form_tag '/login', class: 'row login_form' do %>

                            <div class="col-md-12 form-group">
   		                        <%= text_field_tag :username, nil, class: 'form-control', placeholder: 'Usuario'  %>
							</div>
							<div class="col-md-12 form-group">
   		                        <%= text_field_tag :password, nil, class: 'form-control', placeholder: 'Contraseña'  %>
							</div>
							<!-- <div class="col-md-12 form-group">
								<div class="creat_account">
									<input type="checkbox" id="f-option2" name="selector">
									<label for="f-option2">Keep me logged in</label>
								</div>
							</div> -->
							<div class="col-md-12 form-group">
                                <%= submit_tag "Login", class: 'button button-login w-100' %>
                                <%= link_to 'Olvidé mi contraseña', recover_path %>
							</div>                      
                            <div class="errors">
                                    <% if flash[:login_errors] %>
                                        <% flash[:login_errors].each do |error| %>
                                            <p><%= error %></p>
                                        <% end %>
                                    <% end %>
                                </div>
                        <% end %>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->
