


<p id="notice"><%= notice %></p>

<div class="row">

  <div class="col-md-12">
		<div class="card">
      <div class="card-header">
        <div class="card-title">Lista de Equipos</div>
      </div>
			<div class="card-body">
				
                
        <table class='table table-striped list-mobiles'>
          <thead>
            <tr>
              <th>Marca</th>
              <th>Modelo</th>
              <th>Precio</th>
              <th>Stock</th>
              <th>Imagen</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @mobiles.each do |mobile| %>
              <tr>
                <td><%= Marca.select(:descripcion).where('id = ' + mobile.marca_id.to_s).collect(&:descripcion)[0] %></td>
                <td><%= Modelo.select(:descripcion).where('id = ' + mobile.modelo_id.to_s).collect(&:descripcion)[0] %></td>
                <td>S/ <%= mobile.precio %></td>
                <td><%= mobile.stock %></td>
                <td><%= image_tag(mobile.imagen.url, :class => 'img-thumbnail', :style => 'width: 100px;') if mobile.imagen.present? %></td>
                <td><%= link_to 'Show', mobile %></td>
                <td><%= link_to 'Edit', edit_mobile_path(mobile) %></td>
                <td><%= link_to 'Destroy', mobile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

			</div>
		</div>
	</div>


</div>

<br>

<%= link_to 'Nuevo Equipo', new_mobile_path, :class => 'btn btn-outline-info' %>
