

<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TWGSWCW" height="0" width="0" style="display:none;visibility:hidden"></iframe>

<!-- <h1>Page#registrate</h1> -->

<h1>Bienvenido a YourMobile</h1>
<!--  <p>Find me in app/views/page/registrate.html.erb</p> -->

<br>
<p>
Accede a tus beneficios y más</p>
<br>

<div class="row">
  <div class="col-5">

        <%= form_for :upc, :html => { :method => :post }  do |f| %>

		<%= f.label :Numero_de_celular%>
        <%= f.text_field :celular, {:class => "form-control", :placeholder => "N° de Celular", :required => "required"} %>
        <br>

        <%= f.label :Ingresa_tu_contraseña %>
        <%= f.text_field :contraseña, {:class => "form-control", :placeholder => "Ingresar contraseña", :required => "required"} %>
        <br>


        <%= f.submit "Login", {:class => "btn btn-primary"}%>


		<a href="/page/registrate" class="btn btn-primary">Registrate</a>
        <% end %>

   
<br>
 </div>

 <div class="col-4">
    <iframe width="700" height="400" src="https://www.youtube.com/embed/E9ydQoi2VbA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>


</div>

<br>
<br>