<!-- <h1>Page#registrate</h1> -->
<h1>Registrate</h1>
<!-- <p>Find me in app/views/page/registrate.html.erb</p> -->

<p>Para ver nuestros productos debes registrarte primero</p>

<br>

<%= form_for :upc, :html => { :method => :post }, :url => { :controller => "page", :action => "para_registro"} do |f| %>
<br>

<%= f.label :Numero_de_celular %>
<%= f.text_field :celular,{ :class => "form-control", :placeholder => "Numero de celular", :required => "required" } %>

<br>

<%= f.label :Ingresa_tu_contraseña %>
<%= f.text_field :contraseña,{ :class => "form-control", :placeholder => "Ingresa tu contraseña", :required => "required" } %>

<br>

<%= f.label :Ingresa_tu_DNI %>
<%= f.text_field :DNI,{ :class => "form-control", :placeholder => "Ingresa tu DNI", :required => "required" } %>

<br>

<%= f.label :Ingresa_tu_email %>
<%= f.email_field :email,{ :class => "form-control", :placeholder => "Ingresa tu email", :required => "required" } %>

<br>

<%= f.submit "Continuar", :class => "btn btn-primary" %>

<% end %>

<br>
<br>