<!-- <h1>Page#registrate</h1> -->
<h1>Registrate</h1>
<!-- <p>Find me in app/views/page/registrate.html.erb</p> -->


<p>Para ver nuestros productos debes registrarte primero</p>


<br>
<br>

<%= form_for :upc, :html => { :method => :get } do |f| %>

<%= f.label :Numero_movil %>
<%= f.text_field :Numero_movil %>

<br>
<br>

<%= f.label :Contraseña %>
<%= f.text_field :Contraseña %>

<br>
<br>

<%= f.label :DNI %>
<%= f.text_field :DNI %>

<br>
<br>

<%= f.label :Correo_Electronico %>
<%= f.email_field :Correo_Electronico %>

<br>
<br>

<%= f.submit %>

<% end %>

<!--<form>

   Para el N° Movil 
  <div class="form-group">
  <label class="exampleInputName">N° Movil</label>
  <input type="text" id="exampleInputName" placeholder="Ingrese N° Movil" class="form-control">
  </div>

    Para la contraseña 
  <div class="form-group">
  <label class="exampleInputName">Contraseña</label>
  <input type="text" id="exampleInputName" placeholder="Ingrese Contraseña" class="form-control">
  </div>

   Para DNI 
  <div class="form-group">
  <label class="exampleInputName">DNI</label>
  <input type="text" id="exampleInputName" placeholder="DNI" class="form-control">
  </div>

    Para Correo Electronico 
  <div class="form-group">
  <label class="exampleInputName">Correo Electronico</label>
  <input type="text" id="exampleInputName" placeholder="Correo Electronico" class="form-control">
  </div>

</form>  -->

<br>
<br>