<p id="notice"><%= notice %></p>

<div class="row">

  <div class="col-md-12">
		<div class="card">
      <div class="card-header">
        <div class="card-title">Lista de modelos</div>
      </div>
			<div class="card-body">
				
      <table class='table table-striped'>
        <thead>
          <tr>
            <th>Descripcion</th>
            <th>Marca</th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
          <% @modelos.each do |modelo| %>
            <tr>
              <td><%= modelo.descripcion %></td>
              
              <td>
                <%= Marca.select(:descripcion).where('id = ' + modelo.marca_id.to_s).collect(&:descripcion)[0] %>
              </td>
              <td>
                <%= link_to('Edit', edit_modelo_path(modelo)) %>
              </td>
              <td><%= link_to 'Destroy', modelo, :method => :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

			</div>
		</div>
	</div>


</div>

<br>

<%= link_to 'New Modelo', new_modelo_path, :class => 'btn btn-outline-info' %>
