<%= content_for :styles do %>

    <%= stylesheet_link_tag 'aboutus', media: 'all', 'data-turbolinks-track': 'reload' %>

<% end %> 


<%= content_for :banner do %>

    <!-- ================ start banner area ================= -->   
    <section class="blog-banner-area" id="category">
        <div class="container h-100">
            <div class="blog-banner">
                <div class="text-center">
                    <h1>HUAWEI P40 PRO</h1>
                    <nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Gama</a></li>
              <li class="breadcrumb-item active" aria-current="page">Premium</li>
            </ol>
          </nav>
                </div>
            </div>
    </div>
    </section>
    <!-- ================ end banner area ================= -->

<% end %>

  <!--================Single Product Area =================-->
    <div class="product_image_area">
        <div class="container">
            <div class="row s_product_inner">
                <div class="col-lg-6">
                    <div class="owl-carousel owl-theme s_Product_carousel">
                        <div class="single-prd-item">
                            <img class="img-fluid" src="https://boygeniusreport.files.wordpress.com/2020/03/huawei-p40.jpg?quality=70&strip=allg" alt="">
                        </div>
                        <!-- <div class="single-prd-item">
                            <img class="img-fluid" src="img/category/s-p1.jpg" alt="">
                        </div>
                        <div class="single-prd-item">
                            <img class="img-fluid" src="img/category/s-p1.jpg" alt="">
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <div class="s_product_text">
                        <h3>Huawei P40 Pro</h3>
                        <h2>S/.4000</h2>
                        <ul class="list">
                            <li><a class="active" href="#"><span>Categoria</span> : Gama Alta</a></li>
                            <li><a href="#"><span>Disponibilidad</span> : En Stock</a></li>
                        </ul>
                        <p>un nuevo smartphone y gran representante de los celulares Huawei ha llegado para ofrecerte la máxima experiencia en fotografía. </p>
                        <p>
                        El sistema de cámaras unificado del P40 Pro cuenta con cuatro cámaras fotográficas en la parte posterior de 50 MP, 40 MP, 12 MP y una Cámara de Profundidad 3D junto; además en la parte frontal tiene con una cámara de 32 MP y una cámara de profundidad, dándote la mejor experiencia en fotografía en alta definición. 
                        </p>
                        <p>
                        Pero esto no es todo, este equipo móvil te permite grabar videos selfie en 4K, ¡toda una revolución en imagen!</p>
                        <div class="product_count">
              <label for="qty">Quantity:</label>
              <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                             class="increase items-count" type="button"><i class="ti-angle-left"></i></button>
                            <input type="text" name="qty" id="sst" size="2" maxlength="12" value="1" title="Quantity:" class="input-text qty">
                            <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
               class="reduced items-count" type="button"><i class="ti-angle-right"></i></button>
                            <a class="button primary-btn" href="#">Add to Cart</a>               
                        </div>
                        <div class="card_area d-flex align-items-center">
                            <a class="icon_btn" href="#"><i class="lnr lnr lnr-diamond"></i></a>
                            <a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--================End Single Product Area =================-->

<!--<br>

<div class="row mt-3">

    <div class="col-9">
    <strong>HUAWEI</strong> <strong>P40 Pro, </strong>un nuevo smartphone y gran representante de los <a href="#">celulares Huawei</a> ha llegado para ofrecerte la máxima experiencia en fotografía. El sistema de cámaras unificado del <strong>HUAWEI</strong> <strong>P40 Pro</strong> cuenta con <strong>cuatro cámaras fotográficas en la parte posterior</strong> de 50 MP, 40 MP, 12 MP y una Cámara de Profundidad 3D junto; además en la parte frontal tiene con una cámara de 32 MP y una cámara de profundidad, dándote la mejor experiencia en fotografía en alta definición.&nbsp; Pero esto no es todo, este equipo móvil te permite grabar videos selfie en 4K, ¡toda una revolución en imagen!

    </div>
     <div class="col-3">
        <%= image_tag "ejemplohuawei1.png", html: {alt: "Huawei P40 Pro"} %>
    </div>
   
</div>

<div class="row mt-3">
  
    <div class="col-4">
        <%= image_tag "ejemplohuawei2.png", html: {alt: "Huawei P40 Pro"} %>
    </div>

    <div class="col-8">
    El <strong>HUAWEI</strong> <strong>P40 Pro</strong> es un <strong>celular de Gama Alta</strong> excelente, ya que cuenta con un procesador de 8 núcleos, memoria RAM de 8GB, memoria interna de 256 GB y capacidad de memoria externa de hasta 256 GB, todo esto junto con su batería Li-Ion de 4200 mAh, sistema operativo 10 de Android y sensores de proximidad, luz y acelerómetro, le dan un excelente y duradero performance para que disfrutes la máxima experiencia en un solo smartphone.
    </div> 

</div>


<div class="row mt-3 mb-4">

    <div class="col-9">
    Y no dejemos de lado el impresionante diseño del <strong>HUAWEI</strong> <strong>P40 Pro,</strong> que cuenta con una pantalla de 6.58” con desbordamiento de cuatro curvas, resolución de 2640 x 1200 y 16.7 millones de colores brillantes. Su diseño delgado de 158.2 mm x 72.7 mm x 8.95 mm lo hace un celular elegante y aerodinámico para que te acompañe siempre a donde vayas.
    </div>

    <div class="col-3">
        <%= image_tag "ejemplohuawei3.png", html: {alt: "Huawei P40 Pro"} %>
    </div>
</div>




 <br>

  <div class="text-center m-auto ">
    <h2>Videos</h2>
    <iframe width="700" height="400" src="https://www.youtube.com/embed/rI2CEnOZqSA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>  -->