<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @plan.nombre %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @plan.precio %>
</p>

<p>
  <strong>Sms:</strong>
  <%= @plan.sms %>
</p>

<p>
  <strong>Minutos:</strong>
  <%= @plan.minutos %>
</p>

<p>
  <strong>Datosgb:</strong>
  <%= @plan.datosGB %>
</p>

<p>
  <strong>Redes:</strong>
  <%= @plan.redes %>
</p>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
