<%= content_for :styles do %>

	<%= stylesheet_link_tag 'login', media: 'all', 'data-turbolinks-track': 'reload' %>

<% end %>

<%= content_for :banner do %>

  <!-- ================ start banner area ================= -->	
	<section class="blog-banner-area" id="category">
		<div class="container h-100">
			<div class="blog-banner">
				<div class="text-center">
					<h1>Login / Registrate</h1>
					<nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Login/Registrate</li>
            </ol>
          </nav>
				</div>
			</div>
    </div>
	</section>
	<!-- ================ end banner area ================= -->

<% end %>
  
  
  <!--================Login Box Area =================-->
	<section class="login_box_area section-margin">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<div class="hover">
							<h4>¿Ya tienes una cuenta?</h4>
							<a class="button button-account" href="/users/sign_in">Inicia Sesión</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner register_form_inner">
						<h3>Crear una cuenta</h3>
            
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { :class => 'row login_form'}) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

              <div class="col-md-12 form-group">
                <!-- <%= f.label :email %><br /> -->
                <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => 'form-control', :placeholder => 'Correo' %>
              </div>

              <div class="col-md-12 form-group">
                <!-- <%= f.label :password %> 
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br /> -->
                <%= f.password_field :password, autocomplete: "new-password", :class => 'form-control', :placeholder => 'Contraseña' %>
              </div>

              <div class="col-md-12 form-group">
                <!-- <%= f.label :password_confirmation %><br /> -->
                <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => 'form-control', :placeholder => 'Confirmar contraseña' %>
              </div>

              <div class="col-md-12 form-group">
                <%= f.submit "Registrarme", class: 'button button-login w-100' %>
              </div>
            <% end %>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->



<!-- <%= render "devise/shared/links" %> -->
